<section class="mt-50 mb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <% address[0]?.address?.forEach((element,index)=>{ %>
        <input class="form-check-input" onclick="autofill('<%= element._id %>')" required="" type="radio" role="button" name="address" data-toggle="collapse" href="#collapse-3" aria-expanded="true" aria-controls="collapse-3" id="addressRadio<%=index%>" value="">
        Billing Address <br>
        <%= element.fname %> <%= element.lname %>
        <br> <%= element.address %> <br>
        <%= element.landmark %><br>
        <%= element.town %> <br>
        <%= element.country %><br>
        <%= element.email %>

        <% }) %>
        <% const dateToreadable=(date)=>{
          let dateMain = new Date(date)
          let months = ['Jan','Feb','March','April','May','June','July','Aug','Sept','Oct','Nov','Dec']
          let dd = dateMain.getDate()
          let mm = dateMain.getMonth()
          let month = months[mm]
          let yyyy = dateMain.getFullYear()

          return `${dd}-${month}-${yyyy}`
      } %>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="address" id="address2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Shipping Address
          </label>
        </div>
        <div class="order_review">
          <div class="mb-25">
            <h4>Billing Details</h4>
          </div>

          <form method="post">

            <div class="form-group">
              <input type="text" required="" id="fName" name="fname" placeholder="First name *" value="">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <input type="text" required="" id="lname" name="lname" placeholder="Last name *">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <div class="custom_select">
                <select class="form-control select-active" id="country">
                  <option value="">Select an option...</option>
                  <option value="AX">Aland Islands</option>
                  <option value="AF">Afghanistan</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AQ">Antarctica</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AU">Australia</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="PW">Belau</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia</option>
                  <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="VG">British Virgin Islands</option>
                  <option value="BN">Brunei</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="CA">Canada</option>
                  <option value="CV">Cape Verde</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo (Brazzaville)</option>
                  <option value="CD">Congo (Kinshasa)</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">CuraÇao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN" selected>India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran</option>
                  <option value="IQ">Iraq</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="CI">Ivory Coast</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Laos</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao S.A.R., China</option>
                  <option value="MK">Macedonia</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia</option>
                  <option value="MD">Moldova</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="AN">Netherlands Antilles</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="KP">North Korea</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PS">Palestinian Territory</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="QA">Qatar</option>
                  <option value="IE">Republic of Ireland</option>
                  <option value="RE">Reunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russia</option>
                  <option value="RW">Rwanda</option>
                  <option value="ST">São Tomé and Príncipe</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="SX">Saint Martin (Dutch part)</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="SM">San Marino</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia/Sandwich Islands</option>
                  <option value="KR">South Korea</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SZ">Swaziland</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syria</option>
                  <option value="TW">Taiwan</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom (UK)</option>
                  <option value="US">USA (US)</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VA">Vatican</option>
                  <option value="VE">Venezuela</option>
                  <option value="VN">Vietnam</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="WS">Western Samoa</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="address" id="address" required="" placeholder="Address *">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <input type="text" name="landmark" id="landmark" required="" placeholder="Address line2">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <input required="" type="text" id="town" name="town" placeholder="City / Town *">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <input required="" type="text" id="state" name="state" placeholder="State *">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <input required="" type="text" id="postcode" name="postcode" placeholder="Postcode / ZIP *">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <input required="" type="text" id="number" name="number" placeholder="Phone *">
              <p style="color: red;"></p>
            </div>
            <div class="form-group">
              <input required="" type="text" id="email" name="email" placeholder="Email address *">
              <p style="color: red;"></p>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="order_review">
          <div class="mb-20">
            <h4>Your Orders</h4>
          </div>
          <div class="table-responsive order_table text-center">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2">Product</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% let total=0 %>
                <% products.forEach(elements=>{ %>
                <%  total = (elements.products.price+total)*elements.quantity %>
                <% })%>
                <% products.forEach(elements=>{ %>
                <% if( elements.products) {%>
                <tr>
                  <td class="image product-thumbnail"><img src="/productImages/<%= elements.products.Image[1]%>" alt="#"></td>
                  <td>
                    <h5><a href="#"><%= elements.products.name %> </a></h5> <span class="product-qty">x <%= elements.quantity %> </span>
                  </td>
                  <td>$<%= elements.products.price %>.00</td>
                </tr>
                <tr>
                  <th>SubTotal</th>
                  <td class="product-subtotal" colspan="2">$<%= elements.products.price * elements.quantity %>.00</td>
                </tr>

                <% } %>

                <% }) %>
                <tr>
                  <th>Shipping</th>
                  <td colspan="2"><em>Free Shipping</em></td>
                </tr>
                <tr>
                  <th>Total</th>
                  <td colspan="2" class="product-subtotal"><span id="totalCartPrice" class="font-xl text-brand fw-900">$<%= total %>.00</span></td>
                </tr>
              </tbody>
            </table>

            <p class="mx-auto" id="errorCoupon"></p>
            <div class="toggle_info">
              <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
            </div>
            <div class="panel-collapse collapse coupon_form " id="coupon">
              <div class="panel-body">
                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                <div class="card">
                  <div class="cart-discount">
                    <div class="input-group">
                      <input type="text" id="couponId" class="form-control" placeholder="coupon code">
                      <div class="input-group-append">
                        <a class="btn btn-outline-primary" onclick="couponCheck()">Check<i class="icon-long-arrow-right text-primary"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
            <div class="payment_method">
              <div class="mb-25">
                <h5>Payment</h5>
              </div>
              <div class="payment_option">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="PAYMENT" id="COD" value="COD" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    COD
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="PAYMENT" value="PAYPAL">
                  <label class="form-check-label" for="flexRadioDefault2">
                    PAYPAL
                  </label>
                  <div id="paypal123"></div>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="PAYMENT" id="razorpay" value="razorpay">
                  <label class="form-check-label" for="flexRadioDefault2">
                    RAZORPAY
                  </label>
                </div>
                <!-- <div class="form-check">
                  <input type="image" src="https://test.bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" name="PAYMENT" id="bitpay" value="bitpay" style="width: 210px" alt="BitPay, the easy way to pay with bitcoins.">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Bitpay
                  </label>
                </div> -->
              </div>
            </div>
          </div>
          <% if( total != 0){ %>
          <a onclick="Validation()" class="btn btn-fill-out btn-block mt-30">Place Order</a>
          <% }else{%>
          <a hidden onclick="Validation()" class="btn btn-fill-out btn-block mt-30">Place Order</a>
          <% } %>

        </div>
      </div>

    </div>
  </div>

</section>
</main>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AQ3YMmlfhbssODqRM1DFtydO1NAuGBNiiNcDpJqXVtp08tN4l2biOL8dgfWA0EGyopkz7X5yJRqIiQj0&components=buttons" data-namespace="paypal_sdk"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function couponCheck() {
    let couponName = document.getElementById('couponId').value.trim()
    couponData = couponName
    $.ajax({
      url: '/checkout/couponVerify',
      method: 'post',
      data: {
        coupon: couponName
      },
      success: (response) => {
        console.log(response, "coupon verify");
        if (response.status == true || response.coupon == true) {

          $.ajax({
            url: '/checkout/verifyCouponChecked',
            method: 'post',
            data: {
              couponCheck: couponName
            },

            success: (response) => {
              console.log(response, "pp");
              if (response.purchased == false) {
                console.log(response, "hi not purchased");
                $.ajax({
                  url: '/checkout/applyCoupon',
                  method: 'post',
                  data: {
                    couponName: couponName
                  },
                  success: (response) => {
                    if (response.couponExpired == true) {
                      console.log(response, "whatisthis");
                      let errorCoupon = document.getElementById('errorCoupon')
                      errorCoupon.innerText = "This coupon is already expired."
                      errorCoupon.style.color = 'rgb(300,0,0) '
                      errorCoupon.style.fontSize = 'x-small'
                    }
                    if (response.finalAmount) {
                      console.log(response.finalAmount, "yyy");
                      document.getElementById('totalCartPrice').innerText = "$" + response.finalAmount + ".00"
                      let errorCoupon = document.getElementById('errorCoupon')
                      errorCoupon.innerText = "Coupen applied successfully."
                      errorCoupon.style.color = 'rgb(53,200,0) '
                      errorCoupon.style.fontSize = 'x-small'
                      discPrice.innerText = response.discountAmount
                    } else if (response.couponNotApplicable == true) {
                      let errorCoupon = document.getElementById('errorCoupon')
                      errorCoupon.innerText = "This coupon is only valid for products between Rs " + response.amountValid[0] + " and " + response.amountValid[1] + "."
                      errorCoupon.style.color = 'rgb(300,0,0) '
                      errorCoupon.style.fontSize = 'x-small'
                    }
                  }
                })
              } else {
                let errorCoupon = document.getElementById('errorCoupon')
                errorCoupon.innerText = "This coupon is already used."
                errorCoupon.style.color = 'rgb(300,0,0) '
                errorCoupon.style.fontSize = 'x-small'
              }
            }
          })
        } else {
          let errorCoupon = document.getElementById('errorCoupon')
          errorCoupon.innerText = "Invalid Coupon !"
          errorCoupon.style.color = 'rgb(300,0,0) '
          errorCoupon.style.fontSize = 'x-small'
        }
      }
    })
  }

  function Validation() {

    const fName = document.getElementById('fName')
    const lname = document.getElementById('lname')
    const country = document.getElementById('country')
    const address = document.getElementById('address')
    const landmark = document.getElementById('landmark')
    const town = document.getElementById('town')
    const state = document.getElementById('state')
    const postcode = document.getElementById('postcode')
    const number = document.getElementById('number')
    const email = document.getElementById('email')
    let paymentMethod = document.querySelector("input[name='PAYMENT']:checked").value


    const fNamevalue = fName.value.trim()
    const lnamevalue = lname.value.trim()
    const addressvalue = address.value.trim()
    const landmarkvalue = landmark.value.trim()
    const townValue = town.value.trim()
    const statevalue = state.value.trim()
    const postcodevalue = postcode.value.trim()
    const numbervalue = number.value.trim()
    const emailValue = email.value.trim()
    const countryValue = country.options[country.selectedIndex].value


    const error1 = fName.parentElement.querySelector('p')
    const error2 = lname.parentElement.querySelector('p')
    const error3 = address.parentElement.querySelector('p')
    const error4 = landmark.parentElement.querySelector('p')
    const error5 = town.parentElement.querySelector('p')
    const error6 = postcode.parentElement.querySelector('p')
    const error7 = number.parentElement.querySelector('p')
    const error8 = email.parentElement.querySelector('p')
    const error9 = state.parentElement.querySelector('p')

    let flag = 1

    error1.innerText = ""
    error2.innerText = ""
    error3.innerText = ""
    error4.innerText = ""
    error5.innerText = ""
    error6.innerText = ""
    error7.innerText = ""
    error8.innerText = ""
    error9.innerText = ""

    // First Name Validation

    if (fNamevalue == "") {
      error1.innerText = "First Name is required"
      flag = 2
    } else if (fNamevalue.length <= 2) {
      error1.innerText = "First name must be minimum 2 characters"
      flag = 2
    }
    // last Name Validation
    if (lnamevalue == "") {
      error2.innerText = "Last Name is required"
      flag = 2
    } else if (lnamevalue.length <= 2) {
      error2.innerText = "Last name must be minimum 2 characters"
      flag = 2
    }
    // Address Validation
    if (addressvalue == "") {
      error3.innerText = "Address field is required"
      flag = 2
    } else if (addressvalue.length <= 15) {
      error3.innerText = "Address must be minimum 15 characters"
      flag = 2
    }
    // landmark Validation
    if (landmarkvalue == "") {
      error4.innerText = "Landmark field is required"
      flag = 2
    } else if (landmarkvalue.length <= 15) {
      error4.innerText = "Landmark must be minimum 15 characters"
      flag = 2
    }
    //town Validation
    if (townValue == "") {
      error5.innerText = "Town field is required"
      flag = 2
    } else if (townValue.length <= 3) {
      error5.innerText = "town must be minimum 3 characters"
      flag = 2
    }
    //postcode Validation
    if (postcodevalue == "") {
      error6.innerText = "Postcode field is required"
      flag = 2
    } else if (postcodevalue.length <= 5) {
      error6.innerText = "postcode must be minimum 5 Letters"
      flag = 2
    }
    //state Validation
    if (statevalue == "") {
      error9.innerText = "State field is required"
      flag = 2
    } else if (statevalue.length <= 3) {
      error9.innerText = "state must be minimum 3 characters"
      flag = 2
    }
    //mobileNumber Validation
    if (numbervalue == "") {
      error7.innerText = "Number field is required"
      flag = 2
    } else if (!numbervalue.match(/^(\+\d{1,3}[- ]?)?\d{10}$/) && !(numbervalue.match(/0{5,}/))) {
      error7.innerText = "Enter a valid mobile number"
      flag = 2
    }
    // Email Validation
    if (emailValue == "") {
      error8.innerText = "Email field is required"
      flag = 2

    } else if (!emailValue.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
      error8.innerText = "Enter a valid email"
      flag = 2
    }


    if (flag == 1) {
      placeOrder(fNamevalue, lnamevalue, countryValue, addressvalue, landmarkvalue, townValue, postcodevalue, numbervalue, emailValue, statevalue, paymentMethod)
    }

  }

  function placeOrder(fName, lname, country, address, landmark, town, postcode, number, email, state, paymentMethod) {

    fetch('/placeOrder', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          fname: fName,
          lname: lname,
          country: country,
          address: address,
          landmark: landmark,
          town: town,
          postcode: postcode,
          number: number,
          email: email,
          state: state,
          paymentMethod: paymentMethod,
        })
      })
      .then((res) => res.json())
      .then((res) => {
        console.log(res, 'namma res');
        if (res.value == "success") {
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Your Order Was Successful &#127881;',
            showConfirmButton: false,
            timer: 2000,

          }).then((result) => {
            window.location.href = '/'
          })
        } else if (res.paypal == true) {
          paypalPayment(res.total)
        } else {
          razorPay(res.response)
        }
      })
  }

  function paypalPayment(total) {
    paypal_sdk
      .Buttons({
        createOrder: function() {
          return fetch("/create-order", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                total: total,
                items: [{
                  id: 1,
                }]
              }),
            })
            .then(res => {
              if (res.ok) return res.json()
              return res.json().then(json => Promise.reject(json))
            })
            .then(({
              id
            }) => {
              return id
            })
            .catch(e => {
              console.error(e.error)
            })
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(() => {
            console.log(data);
            $.ajax({
              url: '/paypal-success',
              method: 'get',
              success: (response) => {
                if (response.status) {
                  location.replace('/success')
                } else {
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href="/">Goto home page</a>'
                  })
                }
              }
            })
          })
        },
      })
      .render("#paypal123")
  }

  function razorPay(order) {

    var options = {
      "key": "rzp_test_WHk8zzOMe9J9Pz", // Enter the Key ID generated from the Dashboard
      "amount": parseInt(order.amount), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "evara",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function(response) {

        verifyPayment(response, order)
      },
      "prefill": {

      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open()
    rzp1.on('payment.failed', function(response) {
      // alert(response.error.code);
      // alert(response.error.description);
      // alert(response.error.source);
      // alert(response.error.step);
      // alert(response.error.reason);
      // alert(response.error.metadata.order_id);
      // alert(response.error.metadata.payment_id);
    });
  }

  function verifyPayment(payment, order) {
    $.ajax({
      url: '/verifyPayment',
      data: {
        payment,
        order
      },
      method: 'POST',
      success: (response) => {
        if (response.status)
          location.replace('/success')
        else {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Something went wrong",
            footer: "<a href='/'>go to home page</a>"
          })
        }
      }
    })
  }

  function autofill(addressId) {
    $.ajax({
      url: "/autoFill/" + addressId,
      method: 'get',
      success: (response) => {
        console.log(response, 'autofilled address');

        document.getElementById('fName').value = response.fname
        document.getElementById('lname').value = response.lname
        document.getElementById('country').value = response.country
        document.getElementById('address').value = response.address
        document.getElementById('landmark').value = response.landmark
        document.getElementById('town').value = response.town
        document.getElementById('postcode').value = response.postcode
        document.getElementById('state').value = response.state
        document.getElementById('number').value = response.number
        document.getElementById('email').value = response.email

      }
    })
  }

</script>
